// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// My Variabel
$nav-bg:#434446;

// Magic Here

header{
	height:100%;
.nav-one{
	background-color: black;
	border-radius: 0;
	height: 80px;
	margin-bottom: 0;
	.container{
		.navbar-logo{
		margin-top: 10px;
		margin-bottom: auto;
		margin-left: 30px;
		}
	}
}

.nav-two{
	background-color: $nav-bg;
	border-radius: 0;
	margin-bottom: 0;
	.container{
	.navbar-header{
		align-content:center;
		.navbar-toggle{
			border-radius: 0;
			float:none;
			color:#fff;
			font-size: 30px;
			&:hover{
				background-color: #fff;
				color:#030303;
			}
		}
	}
	.collapse{
		ul.navbar-nav{
			li{
				&.on{
					a{
					background-color: #2C3635; margin-top: 5px; padding-top:10px; padding-right: 15px;padding-left: 15px; padding-bottom: 8px; border-radius:4px;
						-webkit-box-shadow: 0px 5px 0px -1px rgba(7,19,19,1);
						-moz-box-shadow: 0px 5px 0px -1px rgba(7,19,19,1);
						box-shadow: 0px 5px 0px -1px rgba(7,19,19,1);
						}
				}
				a{
					&:link{color:white;}
					&:hover{background-color: #2C3635; margin-top: 5px; padding-top:10px; padding-right: 15px;padding-left: 15px; padding-bottom: 8px; border-radius:4px;
						-webkit-box-shadow: 0px 5px 0px -1px rgba(7,19,19,1);
						-moz-box-shadow: 0px 5px 0px -1px rgba(7,19,19,1);
						box-shadow: 0px 5px 0px -1px rgba(7,19,19,1);
					 }
				}
			}
		}

	}
}
}
.carousel{
	.carousel-inner{
		.item{
			height:536px;
			width:100%;
			background-size: cover;
		}

	}
}
} // end of home

section{
	height:100%;
}